.v-breadcrumbs a:not(.v-breadcrumbs__item--disabled) {
  color: #757580;
  text-decoration: underline;
}
.v-breadcrumbs__item--disabled {
  color: #757580 !important;
}
.v-pagination__navigation {
  width: 90px !important;
}
