@font-face {
  font-family: 'Bebas_Neue_Pro';
  src: url('https://cdn.yoriso.com/sogi/renewal/fonts/bebas-neue-pro/BebasNeuePro-Regular.ttf')
    format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas_Neue_Pro';
  src: url('https://cdn.yoriso.com/sogi/renewal/fonts/bebas-neue-pro/BebasNeuePro-Middle.ttf')
    format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas_Neue_Pro';
  src: url('https://cdn.yoriso.com/sogi/renewal/fonts/bebas-neue-pro/BebasNeuePro-Bold.ttf')
    format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Bold.ttf')
      format('ttf'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Bold.woff2')
      format('woff2'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Medium.ttf')
      format('ttf'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Medium.woff2')
      format('woff2'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Medium.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '200';
  src: url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Regular.ttf')
      format('ttf'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Regular.woff2')
      format('woff2'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Regular.woff')
      format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Thin.ttf')
      format('ttf'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Thin.woff2')
      format('woff2'),
    url('https://cdn.yoriso.com/sogi/cdnXn/themes/kakuyasusougi/fonts/googlefonts/roboto/Roboto-Thin.woff')
      format('woff');
  font-weight: 100;
  font-style: normal;
}
